<html>
  <head>
  <%# Body Style %>
    <style>
         body {
             background :<%= color %>;
         }
    </style>
    <title>Web Guesser</title>
  </head>
  <body>
  <form>
        <input type="text"  name= "guess">
        <input type="Submit"  value= "Guess!">
  </form>
  <%= message %>
  </body>
</html>